.d{
    background-color:black;
    width:25%;
    height:50%;
    margin-left:30%;
    margin-top: 10%;
    border-radius:10px;
    padding :40px;
    }
    .button2 {
      background-color:white;
      border: none;
    font-weight:bold;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
    
    border-radius:10px;
    
    }
    .space{
    text-align:40%;}